body {
	text-align: center;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

#game {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.cnv {
	position: absolute;
	top: 0px;
	border-style: solid;
	margin: 0 auto;
}

#canvasFood {
	background-color: transparent;
	z-index: 2;
}

#canvasHex {
	background-color: black;
	z-index: 1;
}

#canvasSnake {
	background-color: transparent;
	z-index: 3;
}
